$mainColor: #15023a;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
}
